.card {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
}

.card-line-chart {
  width: 275px;
  height: 194px;
  background-color: $background-color-warm;
  border: 1px solid $border-color;
  border-radius: 0.625em;
  background: linear-gradient(
    $background-color-warm,
    $background-color-secondary
  );

  .card-body {
    height: 118px;
    padding: 1em;

    .card-content {
      display: flex;
      padding: 0.25em;

      .card-icon {
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $background-color-primary;
      }

      .card-title {
        display: flex;
        flex-direction: column;
        margin-left: 0.75em;

        span {
          color: $color-primary;
          font-family: $font-poppins;
          font-style: normal;

          &:first-child {
            font-size: 1rem;
            font-weight: normal;
            line-height: 1.75em;
            text-transform: uppercase;
          }

          &:last-child {
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.5em;
          }
        }
      }
    }
  }

  .card-action {
    height: 76px;
  }
}

.card-search {
  width: 410px;
  height: 400px;
  border: 1px solid $border-color;
  border-radius: 0.625em;
  box-sizing: border-box;
  background-color: $background-color-secondary;
  padding: 0.5em 1.5em;

  .card-header {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color-secondary;

    span {
      font-family: $font-poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 2.5em;
      color: $color-white;
    }
  }

  .card-body {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0px;

    .card-description {
      span {
        font-family: $font-poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.375em;
        color: $color-primary;
      }
    }

    label {
      font-family: $font-poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.375em;
      color: $color-white;
    }

    .MuiInputBase-root {
      margin-top: 0.5em;
      border-radius: 0.375em !important;
    }
  }
}
