.img {
  &.img-logo {
    width: 90px;
    height: 30.76px;
  }

  &.img-18 {
    width: 18px;
    height: 18px;
  }

  &.img-21 {
    width: 21px;
    height: 21px;
  }

  &.img-23 {
    width: 23px;
    height: 23px;
  }
}
