.MuiTableContainer-root {
  border-radius: 0.625em !important;

  .MuiTable-root {
    background: #0a0b0d !important;
    border: 1px solid #1c1f27 !important;
    box-sizing: border-box !important;

    .MuiTableHead-root {
      background: #15171b !important;

      th.MuiTableCell-root {
        width: 120px;
        &:last-child {
          text-align: right !important;
        }
      }
    }

    .MuiTableBody-root {
      .MuiTableRow-root {
        border: 1px solid rgba(194, 213, 225, 0.08) !important;

        .MuiTableCell-root {
          color: white !important;
          border: none !important;
        }

        td.MuiTableCell-root {
          width: 120px;
          &:last-child {
            text-align: right !important;
          }
        }
      }
    }
  }
}
