$color-primary: #cecece;
$color-secondary: #ffc000;
$color-warn: #566176;
$color-dark: #15171b;
$color-white: '#ffffff';

$background-color-primary: #0a0b0d;
$background-color-secondary: #15171b;
$background-color-accent: #ffbf00;
$background-color-light: #21252f;

$font-poppins: 'Poppins';
